.about-me {
  background: linear-gradient(45deg, #32e0c4, #0d7377);
  font-family: "Courier Prime", monospace;
  height: 100vh;
}
.about-me .block {
  align-content: center;
  background: white;
  height: 470px;
  margin: 50px 0 30px 100px;
  padding: 2vw;
  border-radius: 60px 0 60px 0;
}

.about-me h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #0d7377;
}
.about-me .about-me-text {
  font-size: 16px;
  text-align: justify;
  line-height: 1.1;
  color: #212121;
}

.about-me .row {
  max-height: 230px;
}
.about-me h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #0d7377;
}
.about-me ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}
.about-me li {
  font-size: 13px;
  line-height: 15px;
  color: #212121;
}
.about-me a {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 4px 8px 4px 0;
}

.about-me #profile-photo {
  width: 15vw;
  border-radius: 50px;
  position: relative;
  top: -45px;
}
.about-me .skills-section {
  margin-top: 0;
}
