.contact {
  background: linear-gradient(45deg, #32e0c4, #0d7377);
  font-family: "Courier Prime", monospace;
  height: 100vh;
  min-width: 100vw;
}
.contact .block {
  align-content: center;
  background: white;
  min-height: 80vh;
  margin: 10vh 8vw 4vw 8vw;
  padding: 2vw;
  border-radius: 4vh 0 4vh 0;
  text-align: center;
}

.contact h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #0d7377;
  margin-bottom: 30px;
}
.contact button {
  display: block;
  font-size: 70px;
  text-align: center;
  margin: 100px auto;
  transition: 200ms ease-in-out;
  color: #0d7377;
  background-color: transparent;
  border: none;
}

.contact .fa-linkedin {
  animation: wiggle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.contact .fa-envelope-open-text {
  animation: wiggle;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.contact .fa-github {
  animation: wiggle;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes wiggle {
  10% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(-20px);
  }

  30% {
    transform: translateY(-20px) rotate(10deg);
  }
  40% {
    transform: translateY(-20px) rotate(-10deg);
  }

  50% {
    transform: translateY(-20px) rotate(10deg);
  }

  60% {
    transform: translateY(-20px) rotate(-10deg);
  }
  70% {
    transform: translateY(-20px) rotate(10deg);
  }
  80% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(0);
  }
}
.contact button:hover {
  animation: wiggle;
  animation-duration: 1s;
}
.contact button:focus {
  border: none;
  outline: none;
}
@media screen and (max-width: 600px) {
  .contact .block {
    min-width: 80%;
    margin-top: 10vh;
  }
}
