.side-menu {
  font-family: "Courier Prime", monospace;
  position: fixed;
  left: 30px;
  top: 40px;
  color: #0d7377;
}
.side-menu button {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 0;
  margin-top: 5vh;
  text-align: left;
  padding: 5px;
  color: #0d7377;
  border-radius: 10px;
  transition: 200ms ease-in-out;
}
.side-menu a {
  padding: 0;
  margin-left: 15px;
}
.side-menu .link-button:hover {
  background-color: #32e0c4;
  color: white;
}

.side-menu .fas {
  font-size: 25px;
}
