.projects {
  background: white;
  font-family: "Courier Prime", monospace;
  height: 100vh;
  width: 100vw;
}
.projects .block {
  background: linear-gradient(45deg, #0d7377, #32e0c4);
  min-height: 70vh;
  max-width: 80vw;
  margin: 8vh auto 10vh;
  padding: 2vw;
  border-radius: 4vh 0 4vh 0;
  text-align: center;
}
.projects h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.projects #weather-app-link {
  margin: 0;
  padding: 0;
}
.projects .carousel {
  height: 70vh;
}

.projects img {
  display: block;
  margin: 0 auto;
  max-width: 40vw;
}
.projects .carousel-tooltip {
  position: absolute;
  top: 40%;
  left: 36%;
  opacity: 0%;
  transition: 200ms ease-in-out;
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}
.projects .carousel-caption {
  display: block;
  margin: -40px auto;
  max-width: 40vw;
  height: 18vh;
  background-color: rgba(255, 255, 255, 0.8);
  color: #0d7377;
  padding: 0 3px;
  font-size: 12px;
  line-height: 1.2;
}
.projects .project-title {
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
}

.projects .github-link {
  color: #0d7377;
}
.projects .view-github {
  margin-top: 1vh;
}
.projects .github-link:hover {
  font-weight: bold;
  text-decoration: none;
}
.projects .carousel-container:hover img {
  opacity: 40%;
}
.projects .carousel-container:hover .carousel-tooltip {
  opacity: 100%;
}

.projects #projects {
  border-radius: 10px;
  color: #0d7377;
  padding: 4px 8px 4px 0;
}
@media screen and (max-width: 600px) {
  .projects .carousel-caption {
    margin-top: 20vh;
    min-width: 60vw;
    min-height: 23vh;
    position: absolute;
    left: 9.8vw;
  }
  .projects img {
    padding-top: 60px;
    min-width: 60vw;
  }
  .projects .carousel-container {
    height: 60vh;
  }
}
